# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*
!.env.example
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Typing & linting caches
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# Dotnet / C#
bin/
obj/
publish/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System
.DS_Store
Thumbs.db
